.Order {
    color: white;
    font-size: 16px;
    font-family: Lexend;
    font-weight: 700;
    border-radius: 25px;
    border: 0px solid;
    height: 50px;
    width: 250px;
    background: #ff7b2b;
  }
  .Track {
      color: #ff7b2b;
      font-size: 16px;
      font-family: Lexend;
      font-weight: 700;
      border-radius: 25px;
      border: 2px #ff7b2b solid;
      height: 50px;
      width: 250px;
      background: white;
    }
  